<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>AnimeVault</title>
</head>
<body <% if (locals.error) { %> class="error-mode" <% } %>>

    <% if (!locals.error) { %>
        <div class="wrapper">
            <%- include('partials/navbar.ejs') %>
            
            <div class="main">
                <h1>Anime Finder</h1>
                <form action="/" method="POST">
                    <input type="text" name="requestedAnime" placeholder="Type here..." id="inputText">
                    <input type="submit" value="Search" id="submit">
                </form>
            </div>
            <div class="carousel-container">
                <h1>Top Animes</h1>
                <div class="carousel">
                    <% animes.forEach(anime => { %>
                        <div class="carousel-item">
                            <a href="/<%= anime.name %>">
                                <img src="<%= anime.image %>" alt="Anime image">
                                <div class="carousel-caption">
                                    <%= anime.name %>
                                </div>
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>

            <%- include('partials/footer.ejs') %>
        </div>
    <% } else { %>
        <% if (error.errorStatus) { %>
            <h1 id="errorStatus"><%= error.errorStatus %></h1>
        <% } %>
        <p id="errorMessage"><%= error.errorMessage %></p>
    <% } %>
    
</body>
</html>